body {background-color: linear-gradient(to bottom, red, green, blue);}

  

.page-title {
  text-align: center;
  font-size: 36px;
  margin-bottom: 40px;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 16px;
  padding: 0 20px;
}

.hero-card {
  background: #1c1c1c;
  padding: 12px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 780px; /* фіксована висота картки */
}

.hero-card:hover {
  transform: translateY(-4px);
}

.hero-card img {
  width: 100%;
  height: 700px; /* фіксована висота зображення */
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
}

.hero-card h2 {
  font-size: 16px;
  margin: 0 0 6px 0;
  color: #fff;
}

.hero-card p {
  font-size: 12px;
  color: #ccc;
  margin: 0;
}



/* Audio Controls */
.audio-controls {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  margin-bottom: 20px;
}

.audio-controls button,
.audio-controls input[type="range"] {
  cursor: pointer;
}

.audio-controls button {
  font-size: 22px;
  background: none;
  border: none;
  color: #fff;
}

